		
body.nicerJSON
{
	background-color: #2a2a2a;
	color:#888;
	font-family: monospace;
	padding:20px;
	overflow: auto;
}

.nicerJSON .title
{
	color:#ddd;
}

.nicerJSON .value
{
	color:#F0D165;
}

.nicerJSON .warning,
.nicerJSON .summary
{
	color:#ec9213;
	user-select: none;
}
