body.fasterJSON
{
	background-color: #222;
	color:#888;
	font-family: monospace;
	overflow: auto;
}

.fasterJSON .title
{
	color:#ddd;
}

.fasterJSON .value
{
	color:#F0D165;
}

.fasterJSON .warning,
.fasterJSON .summary
{
	color:#ec9213;
	/*user-select: none;*/
}

.fasterJSON .childToggle
{
	cursor:pointer;
	text-decoration: underline;
}


.fasterJSON .childcontainer:hover
{
	/*border-left: 3px solid #aaa;*/
	background-color: rgba(255,255,255,0.03);
}

