body.fasterJSON
{
	background-color: #2a2a2a;
	color:#888;
	font-family: monospace;
	padding:20px;
	overflow: auto;
}

.fasterJSON .title
{
	color:#ddd;
}

.fasterJSON .value
{
	color:#F0D165;
}

.fasterJSON .warning,
.fasterJSON .summary
{
	color:#ec9213;
	/*user-select: none;*/
}

.fasterJSON .childToggle
{
	cursor:pointer;
	text-decoration: underline;
}